@import '../../styles/sizes.scss';
@import '../../styles/vars.scss';
$debug: false;

header {
    width: 100%;
    margin-top: $header-magin-top;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $box-padding;

    @if $debug {
        border: 1px solid purple;
    }
}

.branding {
    display: flex;
    align-items: center;;
}

h1 {
    padding: $box-padding;
}

li {
    display: inline-block;
    font-family: neue-haas-unica, sans-serif;
    padding: 6px;
    font-size: 1.1em;
    font-weight: 200;

    &:last-child {
        padding-right: 0px;
    }

    @if $debug {
        border: 1px solid blue;
    }
}

a {
    text-decoration: none;
    color: $black;
}

ul {
    display: flex;
}

.navItem {
    position: relative;
    overflow: hidden;
    user-select: none;

    &:hover .hover,
    &:hover .base {
        cursor: pointer;
        transform: translate(0, 133%);
    }
}

.base {
    text-align: center;
    display: block;
    transition: all .5s cubic-bezier(.23, 1, .32, 1);
}

.hover {
    font-weight: 500;
    position: absolute;
    text-align: center;
    top: -65%;
    transition: all .5s cubic-bezier(.23, 1, .32, 1);
}

.hamburger {
    display: none;
}

@include desktop {
    header {
        height: $header-height;
    }

    .header-logo {
        display: none;
    }

    h1 {
        font-size: 1.8em;
    }
}

@include desktop-tablet {
    .header-logo {
        height: 64px;
        display: inline-block;
    }
}

@include tablet {
    header {
        height: $header-height;
    }

    .header-logo {
        display: none;
    }

    h1 {
        font-size: 1.6em;
    }
}

@include tablet-mobile {
    .header-logo {
        height: 64px;
        display: inline-block;
    }
}

@include mobile {
    header {
        height: $header-height - 20px;
    }

    .header-logo {
        height: 48px;
    }

    h1 {
        font-size: 1.4em;
    }

    .navItem {
        &:hover .hover,
        &:hover .base {
            cursor: pointer;
            transform: translate(0, 138%);
        }
    }

    li {
        font-size: 1em;
    }
}

@include sm-mobile {
    header {
        height: $header-height - 30px;
    }

    .header-logo {
        height: 48px;
    }

    h1 {
        font-size: 1em;
    }

    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }
}