<header>
    <div class="branding">
        <img class="header-logo" src="/assets/images/logo_gray_dark.png" />
        <h1>Eric Kim.</h1>
    </div>

    <nav>
        <ul>
            <li class="navItem">
                <span class="base">Linkedin</span>
                <span class="hover"><a href="https://www.linkedin.com/in/taehyunnkim/" target="_blank">Linkedin</a></span>
            </li>
            <li class="navItem">
                <span class="base">Github</span>
                <span class="hover"><a href="https://github.com/taehyunnkim" target="_blank">Github</a></span>
            </li>
            <li class="navItem">
                <span class="base">Resume</span>
                <span class="hover"><a href="assets/pdf/TaeHyunKim_resume_2022.pdf" target="_blank">Resume</a></span>
            </li>
        </ul>
    </nav>
    <i class="hamburger fa fa-bars"></i>
</header>
