<header>
    <div class="branding" (click)="hideCurtain()">
        <img class="header-logo" src="assets/images/logo_gray_dark.png" />
        <h1>Eric Kim.</h1>
    </div>

    <nav class="main-nav">
        <ul>
            <li class="navItem" (click)="displayCurtain()">
                <span class="base">Projects</span>
                <span class="hover">Projects</span>
            </li>
            <li class="navItem">
                <span class="base">Linkedin</span>
                <span class="hover"><a href="https://www.linkedin.com/in/taehyunnkim/" target="_blank">Linkedin</a></span>
            </li>
            <li class="navItem">
                <span class="base">Github</span>
                <span class="hover"><a href="https://github.com/taehyunnkim" target="_blank">Github</a></span>
            </li>
            <li class="navItem">
                <span class="base">Resume</span>
                <span class="hover"><a href="assets/pdf/TaeHyunKim_resume_2022.pdf" target="_blank">Resume</a></span>
            </li>
        </ul>
    </nav>
    <nav class="mobile-nav">
        <fa-icon [icon]="['fas', 'bars']" (click)="displayOverlay()" size="lg"></fa-icon>
    </nav>
</header>
