@import '../../../styles/sizes.scss';
@import '../../../styles/vars.scss';

$debug: false;

:host {
    flex: 1;
}

div {
    position: relative;
    z-index: 30;
    margin-bottom: $header-magin-top;
    
    button {
        text-align: center;
    }
}

.project-container {
    position: relative;
    z-index: 30;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-top: $content-margin;
}

h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 {
    position: relative;
    margin-top: $content-margin;
    z-index: 30;
    color: $black;
}

@include tablet {
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

@include mobile {
    h1 {
        font-size: 1.4em;
    }

    .project-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1em;
    }
}

@include sm-mobile {
    h1 {
        font-size: 1.4em;
    }

    .project-container {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1em;
    }
}