<div class="appContainer">
  <div id="overlay" class="overlay">
    <a class="closebtn" (click)="hideOverlay()">&times;</a>
    <div class="overlay-content">
      <a (click)="openCurtain()">Projects</a>
      <a href="https://www.linkedin.com/in/taehyunnkim/" target="_blank">Linkedin</a>
      <a href="https://github.com/taehyunnkim" target="_blank">Github</a>
      <a href="assets/pdf/TaeHyunKim_resume_2022.pdf" target="_blank">Resume</a>
    </div>
  </div>
  <div id="app-left-col">
    <img id="background-logo" src="assets/images/logo_gray.png" />
    <span class="curtain"></span>
  </div>
  <div id="app-middle">
    <app-header (openOverlay)="displayOverlay()" (openCurtain)="openCurtain()" (closeCurtain)="closeCurtain()"></app-header>
    <span class="curtain"></span>
    <router-outlet></router-outlet>
  </div>
  <div id="app-right-col">
    <span class="curtain"></span>
  </div>
</div>