@import '../styles/sizes.scss';
@import '../styles/vars.scss';

$debug: false;
$background-color: #F1F1F1;


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 1.3em;
}

p {
    font-size: 1.1em;
}

footer {
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    
    p {
        text-align: center;
        font-size: 0.4em;
        color: #6e6e6e;
    }

    @if $debug {
        border: 1px solid black;
    }
}

#app-left-col {
    position: relative;
    background-color: $background-color;
    flex: 2;

    #background-logo {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    @if $debug {
        border-left: 1px solid blue;
        border-right: 1px solid blue;
    }
}

#app-middle {
    padding-left: $box-padding;
    padding-right: $box-padding;
    background-color: $background-color;
    box-sizing: border-box;
    border-left: 1px solid rgb(220, 220, 220);
    border-right: 1px solid rgb(220, 220, 220);
}

#app-right-col {
    background-color: $background-color;
    flex: 2;

    @if $debug {
        border-left: 1px solid red;
        border-right: 1px solid red;
    }
}

#introduction {
    display: flex;
    margin-top: $header-magin-top;
    padding: 0 42px;

    & > section:first-child {
        flex: 4;

        p > span {
            font-weight: 600;
            color: #4b2e83;
        }
    }
}

#introduction-picture {
    flex: 3;
    align-items: stretch;
    display: flex;
    justify-content: center;
}

#recent-projects {
    margin-top: 32px;
    margin-bottom: $header-magin-top;

    h2 {
        margin-bottom: 24px;
    }
}

#card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.appContainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: $transition-2; 
}

.overlay a {
    font-family: neue-haas-unica, sans-serif;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
}

@include desktop {
    #app-middle {
        width: $desktop-width;
    }

    #app-left-col {
        #background-logo {
            margin-top: $header-magin-top;;
            width: $header-height;
        }
    }
}

@include desktop-tablet {
    #background-logo {
        display: none;
    }
}

@include tablet {
    #app-middle {
        width: $tablet-width;
    }

    #app-left-col {
        #background-logo {
            margin-top: $header-magin-top;;
            width: $header-height;
        }
    }

    p {
        font-size: 1em;
    }

    #card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    #introduction {
        padding: 0 12px;
        margin-top: 24px;
    }
}

@include tablet-mobile {
    #background-logo {
        display: none;
    }
}

@include mobile {
    #app-middle {
        width: $mobile-width;
        padding-left: 24px;
        padding-right: 24px;
    }

    #app-left-col {
        #background-logo {
            display: none;
        }
    }

    #introduction {
        padding: 0;
        margin-top: 24px;
    }

    #introduction-picture {
        display: none;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
    }

    #card-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1em;
    }
}

@include sm-mobile {
    #app-middle {
        width: $sm-mobile-width;
        padding-left: 24px;
        padding-right: 24px;
    }

    #app-left-col {
        #background-logo {
            display: none;
        }
    }

    #introduction {
        padding: 0;
        margin-top: 32px;
    }

    #introduction-picture {
        display: none;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    #card-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 1em;
    }
}