@import '../../../styles/sizes.scss';
@import '../../../styles/vars.scss';

.pdf-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 150;
}

::ng-deep ngx-extended-pdf-viewer #viewerContainer .pdfViewer .page {
    margin: 100px auto;
}