<div class="pdf-container">
    <ngx-extended-pdf-viewer    
        [src]="pdfSrc"
        [height]="'100%'" 
        [useBrowserLocale]="false"
        [textLayer]="false"
        [scrollMode]="2"
        [showDownloadButton]="true"
        [showHandToolButton]="false"
        [showPrintButton]="false"
        [handTool]="false"
        [showSecondaryToolbarButton]="false"
        [showOpenFileButton]="false"
        [showRotateButton]="false"
        [showPagingButtons]="false"
        [showFindButton]="false"
        [showSidebarButton]="false"
        [showEditor]="false"
        [showBorders]="false"
        [backgroundColor]="'lightgray'"
        [zoom]="'page-fit'">
        <p>Your browser does not support PDFs. <a href="pdfSrc">Download the PDF</a>.</p>
    </ngx-extended-pdf-viewer>
</div>